<div class="tp_top">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="10%" align="left"><table width="60" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>
          <a href="/index.php/home/index/message_list/"><img class="imgsize" src="__PUBLIC__/images/message.png" /></a>
          <if condition='$message neq 0'><div class="xiaoxibox"><if condition="$message gt 99">99+<else />{$message}</if></div></if>
          </td>
        </tr>
      </table></td>
      <td align="center"><h1 style="color:#fff;padding:0px;">玩转钦州</h1></td>
      <td width="10%" align="right"><table width="48" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><img onclick="location.href='/index.php/home/vip/vipCenter'" class="imgsize" src="__PUBLIC__/images/set.png" /></td>
        </tr>
      </table></td>
    </tr>
  </table>
</div>