	<extend name="html:inc_shop" />
  <block name="top">订单列表</block>
  <block name="player">
  </block>
  <block name="content">
    <volist name="order" id="od">
      <div class="row" style="margin: 0px; padding:10px 0px; border-bottom: 1px dashed #ccc;">
      <div class="col-xs-2" style="margin: 10px 0px; padding: 5px;"><img style="margin-top: 5px" width="100%" class="img-circle" src="<php>$img = explode(',',$od['product_pics']);echo $img[0];</php>" /></div>
        <div class="col-xs-8" style="padding: 0px;">
          <div class="row" style="margin: 0;">
            <div class="col-xs-6 h5 ">商家：{$od.shopname}</div>
            <div class="col-xs-6 h5 ">宝贝：{$od.product_name}</div>
            <div class="col-xs-12 h5 ">有效期：</div>
          </div>
        </div>
        <div class="col-xs-2"><span style="font-size: 30px; text-align: center; margin-top: 20px; color: #666" class="glyphicon glyphicon-chevron-right"></span></div>
      </div>
    </volist>
  </block>
