<extend name="html:inc_index" />
<block name="typelist">
<load type="css" file="__PUBLIC__/layui/css/layui.css" />
<load type="js" file="__PUBLIC__/layui/lay/dest/layui.all.js" />
<script type="text/javascript">
//流加载
	layui.use('flow', function(){
	  var $ = layui.jquery; //不用额外加载jQuery，flow模块本身是有依赖jQuery的，直接用即可。
	  var flow = layui.flow;
	  flow.load({
	    elem: '.list-box' //指定列表容器
	    ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
	      var lis = [];
	      
	      //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
	      $.getJSON("{:U('StoreIndex/IndexAjax')}?page="+page, function(res){
	        //假设你的列表返回在data集合中
	     
	        layui.each(res.data, function(index, item){
	        	var imgs = new Array();
	        	var str = item.picsimg;
	        	imgs = str.split(",");
	          lis.push('<div class="row shoplist" style="margin: 0px; margin-bottom: 5px; padding: 10px;"><div class="col-xs-4"><a href="{:U('StoreShopIndex/ShopArticle')}?id='+item.id+'"><img class="shoplistimg" src="'+imgs[0]+'"/></a></div><div class="col-xs-8" style="padding: 3px 30px;"><h4 style="margin: 0px; font-weight: bold;"><a href="{:U('StoreShopIndex/ShopArticle')}?id='+item.id+'">'+item.shopname+'</a></h4><p><a href="{:U('StoreShopIndex/ShopArticle')}?id='+item.id+'"></a></p></div></div>');
	        }); 

			 
	        //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
	        //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
	        next(lis.join(''), page < res.pages);    
	      });
	    }
	  });
	});
</script>
	<div class="bgcolor">
		<ul style="list-style: none; margin: 0px; padding: 0px;">
			<volist name='typelist' id='tp'>
				<li class="type-icon-list">
					<div class="list-group" style="border:none; margin: 0px; padding: 0px;">
						<div><a href="{:U('StoreTypeList/Index',array('typeid'=>$tp['id']))}" style="text-align: center; margin: 0 auto"><img style="height: 64px" class="img-responsive img-circle center-block" src="{$tp.picurl}" alt="{$tp.typename}"></a></div>
						<div class="type-title"><a href="{:U('StoreTypeList/Index',array('typeid'=>$tp['id']))}">{$tp.typename}</a></div>
					</div>
				</li>
			</volist>
		</ul>
		<div style="clear: both;" class="clear-fixed"></div>
	</div>
</block>
<block name="content" >
	<div class="container-fulid">
		<div class="vipicon">
			<span ><img style="width: 46px; margin-right: 10px;" src="__PUBLIC__/img/vipicon.png"></span>
			<span style="font-size: 18px; font-weight: 600; color: rgb(6,193,174);">推荐商家</span>
		</div>
	</div>
	<div class="list-box" style="padding-bottom: 50px;">
		<volist name='shoplist' id='slt'>
			<div class="row shoplist" style="margin: 0px; margin-bottom: 5px; padding: 10px;">
				<div class="col-xs-4"><a href="{:U('StoreShopIndex/ShopArticle',array('id'=>$slt['id']))}"><img class="shoplistimg" src="<php>$arr = explode(',',$slt['picsimg']);echo $arr[0];</php>"/></a></div>
				<div class="col-xs-8" style="padding: 3px 30px;">
					<h4 style="margin: 0px; font-weight: bold;"><a href="{:U('StoreShopIndex/ShopArticle',array('id'=>$slt['id']))}">{$slt['shopname']}</a></h4>
					<p><a href="{:U('StoreShopIndex/ShopArticle',array('id'=>$slt['id']))}">{:substr($slt['business_about'],0,90)}</a></p>
				</div>
			</div>
		</volist>
	</div>
</block>