<div class="typemenu">
	<ul>
    	
    	<a href="/index.php/home/User/spadmin_list/type/门票"><li <if condition='($gtype eq "门票") OR ($gtype eq "")'>class="tp_focus"</if>>门票</li></a>
        <a href="/index.php/home/User/spadmin_list/type/酒店"><li <if condition='($gtype eq "酒店") OR ($gtype eq "")'>class="tp_focus"</if>>酒店</li></a>
        <a href="/index.php/home/User/spadmin_list/type/餐饮"><li <if condition='($gtype eq "餐饮") OR ($gtype eq "")'>class="tp_focus"</if>>餐饮</li></a>
        <a href="/index.php/home/User/spadmin_list/type/娱乐"><li <if condition='($gtype eq "娱乐") OR ($gtype eq "")'>class="tp_focus"</if>>娱乐</li></a>
    </ul>
</div>