<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>钦州旅游网 - 详细优惠信息</title>
<load type="css" file="__PUBLIC__/Css/base.css" />
<load type="js" file="__PUBLIC__/js/jquery.min.js" />
</head>

<body style="background:rgb(238,238,238)">
<div class="dt_top navbar-fixed-top">
	<div style="width:25%; float:left;"><a href="javascript:history.go(-1)"><img style="height:30px" src="__PUBLIC__/images/shangjia/list_back.png" /></a></div>
    <div class="fontsize fontcolor" style="width:50%; text-align:center; color:#fff;float:left; font-size:18px; font-weight:bold;">优惠信息详情</div>
</div>
	<div class="main">
    <volist name='lists' id='lists'>
    	<div class="news_list">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="40">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td style="padding: 0 5%"><h3><a href="/index.php/home/vip/vip_news_art">{$lists.title}</a></h3></td>
                          </tr>
                        </table>
                </td>
              </tr>
              <tr>
                <td>
                <if condition='$lists.pic neq null'><div  class="news_about"><img width="100%" src="{$lists.pic}" /></div></if>
                <div style="border:none" class="news_about">{$lists.content}</div></td>
              </tr>
            </table>
	  </div>
      </volist>
</div>
    
<div style="clear:both;"></div>
</body>
</html>
