<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>钦州旅游网 - 购卡须知</title>
<load type="css" file="__PUBLIC__/Css/base.css" />
<load type="js" file="__PUBLIC__/js/jquery.min.js" />
<load type="js" file="__PUBLIC__/js/select.js" />
<style>
	.message { margin:10px; padding:10px; border:1px solid #ccc; border-radius:5px; background:#fafafa;}
	.dt_topf { height:40px; line-height:40px; background:rgb(0,153,255); padding:10px 3% 0rem 3%;}
	.news_adds { margin:10px;}
</style>
</head>

<body style="background:#fff">
  <div class="dt_topf">
    <div style="width:25%; float:left;"><a href="/index.php/home/index/index/"><img src="__PUBLIC__/images/shangjia/list_back.png" alt="" style="height:30px;"  /></a></div>
    <div style="width:50%; text-align:center; color:#fff;float:left; font-size:20px; font-weight:bold; height:40px; line-height:40px;">联系我们</div>
  </div>

<div class="news_adds" style="font-size:14px; color:#666">
 {$body.content}
<!--Tel：13307771522-->
</div>
    

</body>
</html>
