<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>钦州旅游网 - 惠民卡系统 - 规格编辑</title>
<load type="css" file="__PUBLIC__/Css/base.css" />
<load type="js" file="__PUBLIC__/Js/jquery.min.js" />
<load type="js" file="__PUBLIC__/Js/select.js" />
<style type="text/css">
.fonts {
	font-size: 12px;
}
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $('#sub').click(function(){
      $('#form1').submit();
    });

    $(".attradds").delegate(".iptremove","click",function(){
      //alert('success');
      $(".newattr").last().remove();
    });

    $("#addinput").bind({"click":function(){
      var n = $(".attradds :input[type=text]").length+1;
      $(".attradds").append('<div class="form-group newattr"><label for="attrval1" class="col-sm-2 control-label">属性选项'+n+'</label><div class="col-sm-3"><input name="attr_value[]" class="form-control ipt" type="text" /></div><span style="cursor:pointer; color:red" class="glyphicon glyphicon-remove iptremove"></span></div>');
      }
    })

    $("#submit").click(function(){

      for(var i=0; i<=$("input").length;i++){
        if($("input").eq(i).val()==''){
          alert('您还有信息没有填写');
          $("input").eq(i).focus();
          return false;
        }
      }

      if($("#text_type").val()==''){
        alert('请选择显示形式');
        $("#text_type").focus();
        return false;
      }else if($("#typeid").val()==''){
        alert('请选择父级分类');
        $("#typeid").focus();
        return false;
      }
    })

//ajax删除某个规格值
    $(".delipt").click(function(){

  if(confirm('该选项不是您现在添加的，您确定要删除这个选项吗？') == false) return false;

        var id = $(this).attr('rel');
        var attrid = $(this).attr('rek');
        $(this).parent('.col-sm-1').parent(".form-group").remove();
        $.ajax({
          type:'POST',
          url:"/index.php/Home/StoreProductAttr/AttrValueDel",
          data:{'id':id,'attrid':attrid},
          success:function(result){
              if(result!=1) alert('删除失败');
            }
        });
    });
  });
</script>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <include file="manage/head" />
      <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="background-color: #fff; ">



<div style="margin:0px 2%;">
  <div class="container">
    <div class="row clearfix">
      <div class="col-md-12 column">
        <form class="form-horizontal" role="form" id="form1" name="form1" method="post" action="{:U('StoreProductAttr/AttrEdit',array('id'=>$ata['id']))}">
          <div class="form-group">
            <label for="attrname" class="col-sm-2 control-label">属性名</label>
            <div class="col-sm-3">
              <input name="attr_name" class="form-control" id="attrname" value="{$ata.attr_name}" type="text" />
            </div>
          </div>
          <div class="form-group">
             <label for="attr" class="col-sm-2 control-label">显示形式</label>
            <div class="col-sm-2">
              <select name="text_type" id="text_type" class="form-control">
                <option value="">请选择</option>
                <option <if condition='$ata.attr_text_type eq "list"'>selected</if> value="list">下拉菜单</option>
                <option <if condition='$ata.attr_text_type eq "input"'>selected</if> value="input">单行文本</option>
              </select>
            </div>
          </div>
          <div class="form-group">
             <label for="attr" class="col-sm-2 control-label">立即启用</label>
            <div class="col-sm-2">
              <select name="attr_status" id="attr_status" class="form-control">
                <option <if condition='$ata.attr_status eq 1'>selected</if> value="1">是</option>
                <option <if condition='$ata.attr_status eq 0'>selected</if> value="0">否</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="typeid" class="col-sm-2 control-label">所属分类</label>
            <div class="col-sm-2">
              <select name="typeid" id="typeid" class="form-control">
                <option class="rec" value="">请选择</option>
                <volist name='typename' id='tn'>
                  <option <if condition='$ata["typeid"] eq $tn["id"]'>selected</if> value="{$tn["id"]}">{$tn.typename}</option>
                </volist>
              </select>
            </div>
          </div>

          <h3>关联选项</h3>
          <div class="attradds">
            <volist name='al' id='al' key='k'>
              <div class="form-group">
                <label for="attrval" class="col-sm-2 control-label">属性选项{$k}</label>
                <div class="col-sm-3">
                  <input type="hidden" name="attr_value_id[]" value="{$al.id}">
                  <input name="attr_value[]" value="{$al.attr_value}" class="form-control" type="text" />
                </div>
                <div class="col-sm-1"><span style="cursor:pointer" rek='{$al.attr_id}' rel='{$al.id}' class="glyphicon glyphicon-remove delipt"></span></div>
                
              </div>
            </volist>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
               <button type="submit" id="submit" class="btn btn-primary">保 存</button>
               <button type="button" id="addinput" class="btn btn-default" style="margin-left: 280px; margin-top: -50px; position: absolute;"><span class="glyphicon glyphicon-plus"></span>增加选项</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
    <!-- /.content -->
	</div>
  <!-- /.content-wrapper -->
    <include file="manage/foot" />
</div>
</body>
</html>
