<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>钦州旅游网 - 会员卡系统</title>
<load type="css" file="__PUBLIC__/Css/base.css" />
<load type="js" file="__PUBLIC__/Js/jquery.min.js" />
<load type="js" file="__PUBLIC__/Js/select.js" />
<style type="text/css">
.fonts {
	font-size: 12px;
}
</style>
</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <include file="manage/head" />
      <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <!-- Main content -->
<div class="main">

  <ul>
    <form id="form2" name="form2" method="post" action="/index.php/home/manage/listeditsaves">
      <ul>
        <table class="table-bordered" width="100%" border="0" style="background:#ccc;" cellspacing="1" cellpadding="0">
          <tr>
            <td width="260" height="35" colspan="2" align="center" bgcolor="#EFEFEF">用户名</td>
            <td align="center" bgcolor="#EFEFEF">用户帐号</td>
            <td width="120" align="center" bgcolor="#EFEFEF">身份证</td>
            <td width="120" align="center" bgcolor="#EFEFEF">会员类型</td>
            <td colspan="3" align="center" bgcolor="#EFEFEF">联系电话</td>
          </tr>
          <volist name='lists' id='lists'>
            <tr>
              <td width="260" height="35" colspan="2" align="center" bgcolor="#FFFFFF"><input name="usercname" type="text" value="{$lists.usercname}" size="20" />
              <input name="editids" type="hidden" value="{$lists.id}" size="20" />
              &nbsp;  <input name="mp" type="checkbox" id="mp" value="1" />
              <label for="checkbox">重置密码</label></td>
              <td align="center" bgcolor="#FFFFFF"><input name="username" type="text" id="username" value="{$lists.username}" size="15" /></td>
              <td width="120" align="center" bgcolor="#FFFFFF"><input name="card" type="text" id="card" value="{$lists.card}" size="20" /></td>
              <td width="120" align="center" bgcolor="#FFFFFF">
              
             <if condition="$lists.level eq 0">会员</if>
              <if condition="$lists.level eq 5">商家</if>
              <if condition="$lists.level eq 9">发行商<</if>
              <if condition="$lists.level eq 10">管理员</if>
  
              </td>
              <td colspan="3" align="center" bgcolor="#FFFFFF"><input name="tel" type="text" id="tel" value="{$lists.tel}" size="12" /></td>
            </tr>
            <tr>
              <td width="260" height="35" align="center" bgcolor="#FFFFFF"><img src="{$lists.avatar|default='__PUBLIC__/images/avatar/default.jpg'}" style="width:80px; height:80" /></td>
              <td align="right" bgcolor="#FFFFFF">详细地址&nbsp; &nbsp; </td>
              <td colspan="4" align="left" bgcolor="#FFFFFF">  &nbsp;
              &nbsp;<br />
              &nbsp; &nbsp; <textarea name="address" cols="50" rows="5" id="address">{$lists.address}</textarea>
              <br />
              <br /></td>
              <td width="120" align="center" bgcolor="#FFFFFF">邮箱</td>
              <td align="center" bgcolor="#FFFFFF"><input name="email" type="text" id="email" value="{$lists.email}" size="20" /></td>
            </tr>
            <if condition='$lists.level eq 9'>
            <tr>
              <td height="35" align="center" bgcolor="#FFFFFF">售卡范围</td>
              <td colspan="7" align="left" bgcolor="#FFFFFF"> &nbsp;
               <textarea name="fanwei" cols="50" rows="5" id="fanwei">{$lists.fanwei}</textarea>
               <span style="color:red; font-size:12px;">&nbsp; 警告：如果您不会更改，请勿更改！</span></td>
            </tr>
            </if>
          </volist>
        </table>
        <br />
        <table width="96%" border="0" align="center" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center"><input class="btn btn-primary" type="submit" name="sub" id="sub" value="保 存" />
              &nbsp; &nbsp; <input class="btn btn-primary" onclick="javascript:history.back();" type="button" name="sub2" id="sub2" value="返回上一页" /></td>
          </tr>
        </table>
      </ul>
    </form>
  </ul>
</div>
    <!-- /.content -->
	</div>
  <!-- /.content-wrapper -->
    <include file="manage/foot" />
</div>
</body>
</html>
