<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<title>商家详情</title>
	<link rel="stylesheet" href="__PUBLIC__/adminlte/bootstrap/css/bootstrap.min.css">


  
  <load type="css" file="__PUBLIC__/Css/store.css" />
	<load type="js" file="__PUBLIC__/Js/jquery.min.js" />
	<load type="js" file="__PUBLIC__/bootstrap/js/bootstrap.min.js" />
	<load type="js" file="__PUBLIC__/Js/toucher.js" />
  <load type="css" file="__PUBLIC__/layui/css/layui.css" />
  <load type="js" file="__PUBLIC__/layui/lay/dest/layui.all.js" />
  
<script>
//引入layui模块
layui.use(['layer', 'form'], function(){
  var layer = layui.layer
  ,form = layui.form();
  
});


</script> 
	<script type="text/javascript">
		$(document).ready(function(){
			var myTouch = util.toucher(document.getElementById('carousel-example-generic'));  
			myTouch.on('swipeLeft',function(e){  
			    $('#carright').click();  
			}).on('swipeRight',function(e){  
			    $('#carleft').click();  
			});  


			//幻灯
			$(".carousel-inner div").eq(0).addClass("active");
			$(".carousel-indicators li").eq(0).addClass("active");

      $(".cont-box").eq(0).css("display",'block');
			$("div.hov").click(function(){
				$("div.hov").removeClass("tab-active");
				$(this).addClass("tab-active");
        $(".cont-box").css('display','none');
        $("#"+$(this).attr('data-id')).css('display','block');
			});
      var form = layui.form();
      form.on('checkbox',function(data){

        var price = jQuery(".price[data-tid="+data.elem.alt+"]");
        var oprice = jQuery(".oprice[data-tid="+data.elem.alt+"]");
        if(data.elem.checked==true){

            price.text(Number(price['0'].outerText)+Number(data.elem.placeholder));
            oprice.text(Number(oprice.html())+Number(data.elem.placeholder));
        }else{
            price.text(Number(price['0'].outerText)-Number(data.elem.placeholder));
            oprice.text(Number(oprice.html())-Number(data.elem.placeholder));
        }
      })
		})
	</script>
	
</head>
<body>

<!-- 商城头部 -->
<div class="container-fulid">
  <div class="row search-bg" style="margin: 0px">
    <div class="col-xs-2 search-title"><a href="{:U('StoreIndex/index')}"><img style="height: 27px;" src="__PUBLIC__/images/back.png"></a></div>
    <div class="col-xs-8 search-title">
      <block name="top">{$sae.shopname}</block>
    </div>
    <div class="col-xs-2"><span class="glyphicon glyphicon-shopping-cart" style="font-size: 24px; color: #fff; cursor: pointer;"></span></div>
  </div>
</div>
<!-- //商城头部 -->	
    
  

  <block name='player'>
	  <div id="carousel-example-generic" class="carousel slide both" data-ride="carousel">  
<!-- Indicators -->
    		<span  style="bottom: 5px !important; left: 5px; margin: 0px; float: left; position: absolute; z-index: 10">
    			<div style="background: rgb(255,153,0);  width: 60px; padding: 3px; border-radius: 15px;">
    				<span class="glyphicon glyphicon-chevron-down fontcolor"></span>
    				<span class="fontcolor">{$sae.discount}折</span>
    			</div>
    		</span>
        <ol class="carousel-indicators" style="bottom: 0px !important;">
        	<foreach name="arrs" item="arrs2" key='k'> 
            	<li data-target="#carousel-example-generic" data-slide-to="{$k}"></li>  
            </foreach>
        </ol>  

<!-- Wrapper for slides -->  
        <div class="carousel-inner" role="listbox"> 
	        <foreach name="arrs" item="arrs" key='i'> 
	            <div class="item">  
	                <img src="{$arrs}" alt="{$i}">
	            </div>
	        </foreach>
        </div>  
        <!-- Controls -->  
        <a id="carleft" style="display: none" class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">  
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>  
            <span class="sr-only">Previous</span>  
        </a>  
        <a id="carright" style="display: none" class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">  
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>  
            <span class="sr-only">Next</span>  
        </a>   
    </div> 
  </block>
  
	<block name="content">
  	<div class="shop-article-tab">
  		<table name='tab' width="100%" style="text-align: center;">
  			<tr>
  				<td><div data-id="cont-box1" class="tab-active hov" style="height: 30px;"><h4 class="h4" style="font-weight: 600;">预订</h4></div></td>
  				<td style="width: 1px; color: rgb(50,184,173)">|</td>
  				<td><div data-id="cont-box2" class="hov" style="height: 30px;"><h4 class="h4" style="font-weight: bold;">详情</h4></div></td>
  			</tr>
  		</table>
  	</div>
  	<div class="cont-box" id="cont-box1">
  		<volist name="productlist" id="plt" empty="暂无商品">
        <form name="form{$plt.id}" class="layui-form form" method="post" action="">
    			<div class='bt-bot'>		
    				<table name="cont-box1" style="width: 100%;">
    					<tr>
    						<td>
    						<div class="row" style="margin-right: 0px;">
    							<div class="col-xs-4">
    							<h4 class="font-big">{$plt.product_name}</h4>
    							</div>

    <!-- 规格选择 -->
    							<div class="col-xs-4" style="padding: 0px;">
                    <div class="layui-form-item" style="margin: 0px !important">
                    <volist name='spec' id='sc'>
                        <input alt="{$plt.id}" placeholder="{$sc.spec_price}"  type="checkbox" value="{$sc.id}"  name="spec[]" title="{$sc.spec_name}">
                    </volist>
                    </div>
    							</div>
    <!-- //规格选择 -->
    							<div class="col-xs-4" style="border-left: 2px solid #ccc; height: 40px; line-height: 40px;">
                    <input type="hidden" name="productid" value="{$ptl.id}">
    								<span style="color: rgb(255,51,0); font-size: 24px">￥</span><span data-tid='{$plt.id}' class="price" data-p="{$plt.price}" style="color: rgb(255,51,0); font-size: 32px">{$plt.price}</span>
    							</div>
    							<div style="height: 15px;" class="col-xs-12"></div>
    							<div class="col-xs-8"><span style="color: rgb(255,51,0);">{$plt.str}</span></div>
    							<div class="col-xs-4">
    								<span style="color: rgb(255,109,12); font-size: 14px">￥</span><span style="color: rgb(255,109,12); font-size: 16px"><del class="oprice" data-p="{$plt.product_oprice}" data-tid='{$plt.id}'>{$plt.product_oprice}</del></span>
    								<span style="color: rgb(255,109,12); font-size: 14px">门市价</span>
    							</div>
    							<div style="height: 15px;" class="col-xs-12"> </div>
    							<div class="col-xs-8"><a href="{:U('StoreShopIndex/ProductArticle',array('id'=>$plt.id))}"><button type="button" class="btn btn-info btn-sm" style="width:70%; font-size: 16px">商品详情</button></a></div>
    							<div class="col-xs-4"><button type="submit" class="btn btn-warning btn-sm" style="font-size: 16px">立即预订</button></div>
    						</div>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    					</tr>
    					<tr>
    						<td></td>
    						<td></td>
    						<td></td>
    						<td></td>
    					</tr>
    				</table>
    			</div>
        </form>
  		</volist>
  	</div>

  <!--cont-box2-->
    <div class="cont-box" id="cont-box2">
      <div class="row" style="margin: 0px ; padding: 20px; border-bottom: 1px solid #ccc;">
        <div class="col-xs-12 h4">地址：{$sae.address}</div>
        <div class="col-xs-12 h4">电话：{$sae.tel}</div>
        <div style="margin-top: 50px; clear: both;"></div>
        <div class="col-xs-3"></div>
        <div class="col-xs-6"><button class="layui-btn layui-btn" style="width: 100%" type="button">查看地图</button></div>
        <div class="col-xs-3"></div>
        
      </div>

      <!-- 简介 -->
      <div class="h4" style="margin: 20px; padding-left: 15px; border-left: 3px solid rgb(50,184,173)">{$sae.shopname}简介</div>

      <div style="margin: 20px; padding-left: 15px;">
        {$sae.business_about|htmlspecialchars_decode}
      </div>
    </div>
  </block>
</body>
</html>